@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<p>This is <b>FlowFocus</b>, an app designed to remind hybrid and fully-remote workers to care for their well-being.</p>

<p>Admittedly, this is purely a tech demo, but it currently includes:</p>

<ul>
    <li>Built-in Bootstrap styling</li>
    <li>Built-in account management through Identity</li>
    <li>HTTP GET request to retrieve helpful wisdom through the "Reminders" nav menu option</li>
</ul>

<p>Login is required to experience the site (first-time users will need to register). Note that some functionality is not fully-implemented (e.g. email confirmation when setting up accounts).</p>

<p>Thanks for checking us out, and take care of yourself today!</p>
<h5><b>The FlowFocus Team</b></h5>